
body, html{
    margin: 0;
    padding: 0;
    background-color: #300707;
    overflow-x: hidden;

}


.index-text {
    position: relative;
     
}

.index-text img {
    position: absolute;
    top: 17%;
    left: 25%;
    width: 73%;
    height: 90%;
    z-index: 10;
    
}




.front{
    display: flex;
    flex-direction: row;
    transform: translateY(2%) translateX(-8%);
    position: relative;
    z-index: 0;
    font-size: 12vw;
    color:#391006 ;
    letter-spacing: 15px;
    font-weight: 1;
   
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    
}

.front h2{
    font-family: meow script;
   font-size: 19vw;
    transform: translateY(-27%) translateX(58%);
    z-index: 10;
}

.front h3{
    padding-left: 5%;
     transform: translateY(-3.5%);
    font-family: gfs didot;
    z-index: 0;
}

.under{
    transform: translateY(-28vw) translateX(10vw);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 2vw;
   color:#391006 ;
    font-family: gfs didot;
    letter-spacing: 5px;
}


hr{
    position: absolute;
    z-index: 0;
   margin-top: 3%;
   margin-left: 2%;
   padding: 26%;      
  border: 10px solid #7D512A;
  background-color: #9a8878;
 width: 640px;
 
display: block; 
}



.index-grid img {
    position: absolute;   
    z-index: 0;
    width: 85%;
    top: -37%;
}

.two {
    margin-top: 10%;
    border: 10px solid #9a8878;
    background-color: #F2EBE5;
    height: 50vw;
    width: 95vw;
    margin-left: 2%;
    position: relative; 
    z-index: 1;
}

.index-grid {
    position: relative;   
    display: flex;
    flex-direction: row; 
    gap: 15%;  
    color: white;
}

.div,.div1, .div2 {
    z-index: 10;
    background-color: #38200b;
    border: 5px solid rgb(132, 133, 112);
    width: 220px;
    height: 270px;
    border-radius: 50%;
    position: relative;  
    left: 12%;   
    transform: translateY(90%);  
}


